@page "/"

<PageTitle>Index</PageTitle>

<h1>Hi everyone!</h1>
<br />
<h5>
    Welcome to my CRUD web application. 
    This database is supposed to store the names of video games, their developers,
    and the release date of the game with the ability to edit and delete members.(I saw this idea 
    of ​​storing video games on the Internet and found it interesting. So you can see how I tried to implement it)
    To create it, I used Blazor Server and Entity Framework Core InMemory. This is my first experience with these tools
</h5>

